<ul class="nav nav-pills justify-content-center" role="tablist">
    <li class="nav-item">
        <a routerLink="/page1" class="nav-link" routerLinkActive="active" data-toggle="pill" href="#page1">Page 1</a>
    </li>
    <li class="nav-item">
        <a routerLink="/page2" class="nav-link" routerLinkActive="active" data-toggle="pill" href="#page2">Page 2</a>
    </li>
    <li class="nav-item">
        <a routerLink="/page1" class="nav-link" routerLinkActive="active" data-toggle="pill" href="#page3">page 3</a>
    </li>
</ul>