<div>
    <div mat-dialog-content>
        <mat-tab-group dynamicHeight>
            <div *ngFor="let itemImage of temp">
                <mat-tab label="Floor {{itemImage.id}}" *ngIf="itemImage.name == 'floor1' || itemImage.name == 'floor2' || itemImage.name == 'floor3'">
                    <div class="example-large-box mat-elevation-z4" id="picture">
                        <ul style="list-style: none;">
                            <li *ngFor="let item of data">
                                <!-- <a (click)="setDataForMapDialog(item.image)"><img  [ngStyle]="item.position" [src]="item.camera"></a> -->
                                <a (click)="setDataForMapDialog(item.image)"><i  [ngStyle]="item.position" class="fal fa-video"></i></a>
                            </li>
                        </ul>
                        <img [src]="itemImage.image" width="auto" height="100%">
                    </div>
                    <div mat-dialog-actions>
                        <button mat-button (click)="closeDialog()">Cancel</button>
                        <button mat-button [mat-dialog-close]="data" (click)="saveMessage(itemImage.image)" cdkFocusInitial>Ok</button>
                    </div>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
</div>