#picture {
    text-align: center;
    margin-left: 50vh;
    object-fit: contain;
}

.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.mat-dialog-content {
    overflow: hidden;
    display: inline;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: unset;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
}

.absolute-img-icon {
    position: absolute;
}