.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr {
    &.example-detail-row {
        height: 0;
    }
    &.example-element-row:not(.example-expanded-row) {
        &:hover {
            background: rgb(162, 162, 162);
            cursor: pointer;
        }
        &:active {
            background: #efefef;
        }
    }
}

app-table-record-detail {
    padding-left: 0px;
    padding-right: 15px;
}