.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

.image-map-detail {
    position: initial;
    z-index: -99999;
    object-fit: scale-down;
}

.imageNullP {
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
}

.detail-map {
    max-width: 350px;
    background-color: gainsboro;
}

#height-card-detailmap {
    height: 300px;
}

.hoverIMG a img:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.hightligh {
    background-color: chocolate;
}