<div class="card">
    <mat-card class="detail-map" id="height-card-detailmap">
        <div *ngIf="image">
            <div class="hoverIMG">
                <ul style="list-style: none;">
                    <li *ngFor="let item of data">
                        <a (click)="setDataForMapDialog(item.image)"><img [ngClass]="{'hightligh' : selected == item.image}" [ngStyle]="item.position" [src]="item.camera"></a>
                    </li>
                </ul>
                <img mat-card-image [src]="image">
            </div>
        </div>
    </mat-card>
</div>