.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

.image-map-detail {
    position: initial;
    z-index: -99999;
}

.detail-map {
    max-width: 350px;
    background-color: rgb(109, 101, 101);
}

#height-card-detailmap {
    height: 300px;
}